In [3]:
def favorite_sport():
    return "soccer"

In [4]:
favorite_sport()

'soccer'

In [5]:
def favorite_sport_with_docstring():
    """This function returns the name of my favorite sport"""
    return "soccer"

In [6]:
favorite_sport_with_docstring()

'soccer'

In [8]:
favorite_sport_with_docstring?

In [12]:
favorite_sport_with_docstring.__doc__

'This function returns the name of my favorite sport'

In [13]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
pd.value_counts(iris['sepal_length'].values, sort=False)

5.0    10
5.5     7
4.5     1
7.0     1
6.5     5
6.0     6
7.9     1
5.1     9
4.9     6
4.6     4
6.6     2
6.1     6
5.6     6
7.1     1
7.6     1
5.4     6
4.4     3
6.4     7
4.8     5
4.7     2
4.3     1
5.8     7
5.7     8
5.3     1
6.3     9
6.9     4
6.8     3
5.2     4
7.3     1
6.7     8
5.9     3
6.2     4
7.2     3
7.4     1
7.7     4
dtype: int64

In [15]:
iris.shape

(150, 5)